<!doctype html>
<html lang="en">
    <head><title>asdf</title></head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <body>
        <div class="container">
            <div class="page-header">
                <h1>About</h1>
            </div>
            <p>
            The Code Creator page is a simple site that allows you to create basic substitution ciphers and then encode/decode text based on the created cipher.
            The idea came from watching my child exchange paper ciphers and messages with is friends at school. I thought it would be a neat project to turn into
            something web-based, so here we are!
            </p>
            <p>
            <strong>Please note that this is not intended to be a secure service and is for educational purposes only. It was designed with elementary school aged children
                in mind, and is meant to stir up interest in cryptography, nothing else :).</strong>
            </p>

        <div class="page-header">
            <h1>How does it work?</h1>
        </div>
        <p>
        A cipher page is your own spot to manage your cipher and encode/decode text based on the cipher you have created. So how do you create a cipher page?
        <br/>
        <ol>
            <li>
                <strong>First</strong>, come up with a word, phrase, etc that you can remember. This is even more important if you plan on sharing your cipher page with others.
            </li>
            <li>
                <strong>Second</strong>, check and see if it is available. You can do this by adding it onto the end of https://ethanscodcreator.com/. As an example, pretend you came up with the phrase <kbd>dumdum</kbd>, you would vist <a href="https://ethanscodecreator.com/dumdum" target="#">https://ethanscodecreator.com/dumdum</a>. If your page is not available, you will see a red bar at the top of the page letting you know that someone else has already claimed this. No problem, just come up with a new word/phrase and try it again! Once you've found an un-claimed page, move on to the next step
            </li>
            <li>
                <strong>Third</strong>, now that you've found an un-claimed page, claim it! You do this by entering a secret into the secret box and hitting the save button on the page. Now anytime you want to update your cipher, you'll need to provide this secret.
            </li>
            <li>
                <strong>Fourth</strong>, share your cipher page with others so that you can encode and decode messages based on the cipher you've created on your cipher page!
            </li>
        </ol>
        
        </p>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>
